<div class="center hero-unit">
	<h1>Home</h1>

	<h2>
		Welcome to Dubtwit! The social media site that gives you 280 characters to express your feelings!
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
