<% provide(:title, 'About') %>
	<h1>About</h1>
	<p>Dubtwit was written by Rob Whitehead with help from the Michael Hartl Rails Tutorial. Microposts are limited to 280 characters, which we find to be a much more leisurely pace.</p>
	<br><br><br><br><br>
	<h2>Security notice</h2>
	Your passwords are stored as an unsalted SHA-256 hash. This is safe enough for the purposes of DubTwit but not impenetrable (why anyone would bother with a birthday attack on the Dubtwit database is another question entirely). So don't put your credit card number as your password. Why would you do that. That's insane. In fact, don't post credit card numbers anywhere on this site. Just post jokes.

